<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <label>Bảng giá sỉ kim cương sỉ</label>
    <form action="si" role="form" method="post" enctype="multipart/form-data">
        <input name="calendar" type="file">
        <button type="submit">submit</button>
    </form>
    <label>Bảng giá sỉ kim cương lẻ</label>
    <form action="le" role="form" method="post" enctype="multipart/form-data">
        <input name="calendar" type="file">
        <button type="submit">submit</button>
    </form>
    <label>Kim cương vàng</label>
    <form action="upload-vang" role="form" method="post" enctype="multipart/form-data">
        <input name="calendar" type="file">
        <button type="submit">submit</button>
    </form>
    <label>moissanite</label>
    <form action="moissanite" role="form" method="post" enctype="multipart/form-data">
        <input name="calendar" type="file">
        <button type="submit">submit</button>
    </form>
    <label>fancy</label>
    <form action="fancy" role="form" method="post" enctype="multipart/form-data">
        <input name="calendar" type="file">
        <button type="submit">submit</button>
    </form>
</body>

</html>